<div class="row">
    <div class="col-12">
        <form>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                      <input type="text" name="movie-name" id="name" class="form-control" placeholder="Search Movie">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                      <input type="date" name="movie-date" id="date" class="form-control" placeholder="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                      <input type="time" name="movie-time" id="time" class="form-control" placeholder="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                      <input type="number" name="movie-seat" id="seat" class="form-control" placeholder="Total Seats">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                      <button class="btn btn-success">Book</button>
                      <button class="btn btn-danger">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
