<div class="row">
    <div class="col-12">
        <button class="btn btn-success">BOOK</button>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="list-group">
            <a class="list-group-item list-group-item-action flex-column align-items-start active">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">The Eternals</h5>
                  <small>30-12-2021</small>
                </div>
              </a>
        </div>
    </div>
    <div class="col-6">
          <div class="row">
              <div class="col-6 mx-auto">
                  <img 
                  src="https://m.media-amazon.com/images/M/MV5BMTExZmVjY2ItYTAzYi00MDdlLWFlOWItNTJhMDRjMzQ5ZGY0XkEyXkFqcGdeQXVyODIyOTEyMzY@._V1_FMjpg_UX1000_.jpg" 
                  alt="eterenals image"
                  class="img-resonsive"
                  style="max-height:150px;">
              </div>
          </div>
    </div>
</div>

