<div class="row">
    <div class="col-4 mx-auto">
        <img 
        src="https://m.media-amazon.com/images/M/MV5BMTExZmVjY2ItYTAzYi00MDdlLWFlOWItNTJhMDRjMzQ5ZGY0XkEyXkFqcGdeQXVyODIyOTEyMzY@._V1_FMjpg_UX1000_.jpg" 
        alt="eterenals image"
        class="img-resonsive"
        style="max-height:150px;">
    </div>
</div>
<div class="row">
  <div class="col-5 mx-auto">
      <h3>The Eternals</h3>
  </div>
</div>
<div class="row">
  <div class="col-5 mx-auto">
      <h3>Date</h3>
  </div>
  
</div>
<div class="row">
  <div class="col-5 mx-auto">
      <h3>Time</h3>
  </div>
</div>
<div class="row">
  <div class="col-5 mx-auto">
      <h3>5 Seats</h3>
  </div>
</div>
<div class="row">
  <div class="col-5 mx-auto">
      <button class="btn btn-primary">Update</button>
      <button class="btn btn-danger">Cancel</button>
  </div>
</div>
